:root {
  --ifm-color-primary: #d357fe;
  --ifm-color-primary-dark: #ca35fe;
  --ifm-color-primary-darker: #c624fe;
  --ifm-color-primary-darkest: #b101ed;
  --ifm-color-primary-light: #dc79fe;
  --ifm-color-primary-lighter: #e08afe;
  --ifm-color-primary-lightest: #eebdff;
}


.feedback-card {
  font-family: "Victor Mono", monospace;
  border: 1px solid black;
  max-width: 980px;
  min-width: 30%;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);
}
.feedback-header {
  text-align: center;
  padding: 8px;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid black;
}
.feedback-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.feedback-body button {
  cursor: pointer;
  margin-top: 10px;
  align-self: flex-end;
}

